.productCard{
    padding: 8px;
    border-radius: 16px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    /*display: flex;
    flex-wrap: wrap;*/
    gap: 16px;
    margin: 20px;
}